/* why book */
.why__book-tour {
    background-color: #fff;
    padding: 10px 0;
    margin-top: 30px;
}

.contents__item {
    display: flex;
}

.right__content {
    margin-left: 15px;
    font-size: 14px;
}

.right__content h3 {
    font-size: 18px;
    font-weight: 400;
}

/* banner */
.img__yacht {
    width: 100%;
    height: 100%;
}

/* container */
.container {
    background-color: #f1f1f1;
}

/* left cnt */
.content__ctn {
    padding: 30px 15px;
    background-color: #fff;
}

.title__cnt-left {
    font-family: 'Tahoma', Arial;
    color: #666;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}

.list__link {
    padding: 20px 0;
}

.item__link {
    align-items: center;
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 0;
    border-bottom: 1px dotted #dedede;
    position: relative;
}

.item__link>a {
    color: #333333;
    margin-left: 30px;
}

.fa-arrow-right-long {
    position: absolute;
    font-size: 13px;
    opacity: 0.5;
    transition: all .3s linear;
}

.item__link:hover .text__hover {
    color: #FB7220;
}

.item__link:hover .fa-arrow-right-long {
    color: #FB7220;
    padding-left: 3px;
}

/* right */
.cnt__right {
    padding: 0 25px;
}

.title__cnt-right {
    font-family: 'Tahoma', Arial;
    font-size: 30px;
    color: #004d94;
    padding-bottom: 10px;
}

.des__cnt-right {
    font-size: 15px;
    color: #333333;
    margin-bottom: 20px;
}

.list__location {
    padding: 30px 0;
    border-bottom: 1px dotted #dedede;
}

.list__location:last-child {
    border: none;
}

.img__local {
    width: 100%;
    cursor: pointer;
}

.title__local {
    font-size: 24px;
    font-weight: bold;
    color: #004d94;
}

.des__local {
    color: #444;
    font-family: 'Tahoma', Arial;
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0 0;
}

.social__local {
    margin: 10px 0;
}

.item__social {
    display: block;
    float: left;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    color: #ccc;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    transition: all .2s linear;
}

.item__social:hover {
    border: 1px solid #FB7220;
    color: #FB7220;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/* pagination */
/* pagianation */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li>a {
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.active>a {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7;
}



/* slider foot */
.item__slider img {
    width: 100%;
}

/* contact */
.contact__ad {
    background-color: #fff;
    margin-top: 20px;
}

.frame__contact {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text__contact-foot {
    display: flex;
}

.img__contact-foot {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.text__content-ct {
    width: 700px;
    padding-left: 20px;
}

.head__text-ct {
    font-size: 16px;
    font-weight: bold;
    color: #666665;
}

.head__text-ct b {
    color: #fb7220 !important;
}

.main__contact {
    color: #333333;
    font-size: 14px;
}

.input__help {
    display: flex;
    align-items: center;
}

.input__help button {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    background: #FB7220;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.35s;
    border: none;
    border-radius: 3px;
}

.input__help button i {
    padding-right: 10px;
}

/* box chat */
.fix__img {
    visibility: inherit;
    opacity: 1;
}

.active__fix-img {
    visibility: hidden;
    opacity: 0;
}

.fix__img img {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.chat__box {
    width: 350px;
    height: 500px;
    background-color: #004d94;
    border-radius: 15px !important;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.13) !important;
    position: fixed;
    right: 15px;
    bottom: 80px;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.active__chat-box {
    visibility: visible;
    opacity: 1;
}

.head__chat-box {
    padding: 10px 10px;
    background-color: #05809b;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    position: relative;
}

.content__head-chat {
    display: flex;
}

.logo__chat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

i.fa-solid.fa-x {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.text__chat {
    color: #fff;
}

.content__chat-box {
    height: 400px;
}

.content__chat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: #05809b;
    background-color: #fff;
}

.ct__chat-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i.fa-regular.fa-comments {
    font-size: 130px;
    padding-bottom: 30px;
}

.subMit__chat {
    width: 100% !important;
    border-top: 1px solid #e3e3e3 !important;
    display: flex !important;
    flex-direction: row !important;
    padding: 15px !important;
    border-top: 1px #555 solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;
}

.input__chat {
    width: 90%;
}

.icon__subMit {
    width: 10%;
    color: #05809b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ghim {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.message-input--input {
    word-wrap: break-word !important;
    resize: none !important;
    flex: 1 !important;
    align-self: center !important;
    margin-right: 7.5px !important;
    border: none;
}

textarea:focus {
    outline: 0;
}

.ct__form.row {
    padding: 30px 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 6px #DDD;
}

form.cnt__frm,
.txt__cpn {
    padding: 20px;
}

.form-field {
    margin-top: 10px;
    border: 1px solid #dedede;
    padding: 14px 20px;
    color: #555;
    width: 100%;
    font-family: 'Tahoma', Arial;
    background-color: #f1f1f1;
}

.form-field>input {
    outline: 0;
    border: none;
    outline: none;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 14px;
}

.form-field>textarea {
    outline: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 150px;
    background-color: #f1f1f1;
    font-size: 14px;
}

.send__cmt {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fb7220;
    color: #fff;
    border: none;
}

.send__cmt:hover {
    background-color: #e98b55;
}

.tit__right {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.name__cpn {
    font-weight: bold;
}

.add__cpn,
.hotline {
    font-size: 14px;
    padding: 1px 0;
}

/* comment */
.comments {
    padding-left: 30px;
    margin: 20px 0;
}

.item__comment {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

.item__comment:last-child {
    border: none !important;
}

.user__name {
    padding-bottom: 5px;
}

.user__name>h3 {
    font-size: 24px;
    font-weight: bold;
    color: #004d94;
}

.txt__user-cmt {
    color: #444;
    font-family: 'Tahoma', Arial;
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0 0;
}

/* nav page */
.nav__page {
    padding-bottom: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #555;
}

.fa-house {
    font-size: 14px;
    color: #555;
}

.fa-chevron-right {
    font-size: 12px;
    padding-right: 5px;
}

.nav__page>span {
    padding-left: 5px;
}

.post-content {
    margin-top: 10px;
    color: #555;
    font-size: 15px;
    line-height: 25px;  
}

.post-content p {
    margin-bottom: 15px;
}

/* mobile */
.menu__m-t {
    display: none;
}